.videocard {
    width: 270px;
    margin-bottom: 40px;
}

.videocard__image {
    height: 140px;
    width: 250px;
}

.videocard__info {
    /* display: flex; */
    margin-top: 10px;
    padding-right: 30px;
}

.videocard__text {
    margin-left: 15px;
}

.videocard__text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videocard__text > p {
    font-size: 14px;
    /* color: gray; */
}

.videocard__avatar {
    height: 30px !important;
    width: 30px !important;
    /* z-index: 0; */
    position: relative;

}



.videocard__text > * {
    margin: 1px;
}
.modal-fixed{
    position:fixed;
    top:10%;
    left:15%;
    height: 70vh;
    width: 130vh ;
    align-items: center;
    background-color: #00000098;
    /* z-index: auto; */
    /* h-screen w-screen items-center index bg-transparent-black */
}

.video-90vw
{
  display: inline-block;
  height: 70vh; /*THis will set height equal to the height of windows*/
  width: 130vh/*This will set width equal to width of windows*/
  
}

.modal-fixed-mobile{
    position:fixed;
    top:10%;
    left:1%;
    height: 60vh;
    width: 40vh ;
    align-items: center;
    background-color: #00000098;
    /* z-index: auto; */
    /* h-screen w-screen items-center index bg-transparent-black */
}

.video-90vw-mobile
{
  display: inline-block;
  height: 60vh; /*THis will set height equal to the height of windows*/
  width: 45vh/*This will set width equal to width of windows*/
  
}
.modal-absolute {
    position: absolute;
    z-index: 40;

}
.general-position{
    position: absolute;

}
.size-close-modal{
   height: 30px;
   width: 30px;
}